<div style="margin-left: 8%;">
    <h2>Prezado Visitante - 404</h2>

    <h3>É com grande pesar que vos informamos que a página por vós procurada encontra-se em 
        algum reino desconhecido da internet, <br> além do alcance de nossas rotas digitais. Apesar
        de nossos esforços diligentes, parece que este destino específico ainda não foi desbravado
        <br>em nossos mapas cibernéticos.</h3>

    <h3>Como cavaleiros da ordem da web, lamentamos profundamente a vossa inconveniência e estamos
        trabalhando diligentemente para corrigir <br> este infortúnio. Reunimos nossos mais destemidos
        programadores e magos digitais para desvendar este enigma e encontrar <br> o caminho
        para a página desejada.</h3>

    <h3>Enquanto isso, vos encorajamos a regressar à nossa casa principal, onde outros tesouros
        de informação aguardam <br> para serem descobertos. Em nossa grandiosa biblioteca digital, 
        há uma infinidade de conhecimentos e maravilhas que esperam vossa visita.</h3>

    <h3>Agradecemos vossa paciência e compreensão nesta jornada digital, e rogamos
        que nosso próximo encontro seja numa terra <br>de páginas encontradas e URLs funcionais.
    </h3>

    <h3>
        Atenciosamente,
<br>
A Equipe dos Guardiões do Código 404
    </h3>

    <img style="width: 10%;" src="https://cdn-icons-png.flaticon.com/512/1642/1642337.png" alt="">
    <img style="width: 10%;" src="https://cdn-icons-png.flaticon.com/512/1642/1642337.png" alt="">
    <img style="width: 10%;" src="https://cdn-icons-png.flaticon.com/512/1642/1642337.png" alt="">
    <img style="width: 10%;" src="https://cdn-icons-png.flaticon.com/512/1642/1642337.png" alt="">
    <img style="width: 10%;" src="https://cdn-icons-png.flaticon.com/512/1642/1642337.png" alt="">
    <img style="width: 10%;" src="https://cdn-icons-png.flaticon.com/512/1642/1642337.png" alt="">
    <img style="width: 10%;" src="https://cdn-icons-png.flaticon.com/512/1642/1642337.png" alt="">
    <img style="width: 10%;" src="https://cdn-icons-png.flaticon.com/512/5695/5695866.png" alt="">

</div>