<h1>Cadastro de usuarios</h1>

<form action="/usuarios/create" method="post">
    <span>Nome</span><br>
    <input name="nome" type="text" placeholder="Digite seu nome"><br>
    <span>Ocupação</span><br>
    <input name="ocupacao" type="text" placeholder="Digite seu nome"><br>
    <input type="checkbox" name="alerta" checked>
    <button type="submit">Cadastrar</button>
</form>
