<h1>Home</h1>

<div class="btn_cadastrar_home">
    <a href="/users/cadastrar">+</a>
</div>


{{#if canditados}}
<h1>Há canditatods
    
</h1>
{{else}}
<div style="text-align: center;">
    <h1>Não há canditados... </h1>
    <a href="/">
        <h3>Cadastre usuarios</h3>
    </a>
</div>
{{/if}}