<h1>Nome: {{user.nome}}</h1>
<h3>Ocupação: {{user.ocupacao}}</h3>
<h3>Email: {{user.email}}</h3>
<form action="/user/delete/{{user.id}}" method="post">
    <button type="submit">Deletar</button>
</form>
