
<div style="margin-left: 35%;">
<h1>Cadastre sua musica favorita</h1>
    <form class="form_cadastro" action="/musicas/salvar" method="post">
        <span>Nome da Musica</span> <br>
        <input placeholder="Digite o nome da musica" name="nome"> <br>
        
        <span>Artista</span> <br>
        <input placeholder="Digite o nome do artista" name="artista"> <br>
        
        <span>Tipo/Estilo</span> <br>
        <input placeholder="Digite o tipo da musica" name="tipo"> <br>
        <input class="btn_cadastrar_home" type="submit" value="Cadastrar"></input>
    </form>
</div>