<div style="text-align: left; float: left; margin-left: 5%;">

    <h1>Bem vindo ao SpotiMusic</h1>

    <h2>O melhor site de musicas depois do Spotify</h3>

        <h4>Aqui estãos umas das nossas musicas</h4>
</div>


<div class="btn_cadastrar_home">
    <a href="/musicas/cadastrar/">
    Cadastrar uma musica
    </a>
</div>

<div class="container_musics">

    {{#each songs}}
    {{> music}}
    {{/each}}

</div>