body{
    background-color: rgb(151, 151, 151);
    text-align: center;
    font-family: Arial;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#sacando{
    color: red;
}
#depositando{
    color: green;
}
h1{
    background-color: rgb(25, 124, 128);
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    color: white;
}
#sacar {
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    border: none;
    padding: 10px;
}
#sacar:hover{
    background-color: rgb(255, 150, 150);
}
#depositar{
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    border: none;
    padding: 10px;
}
#depositar:hover{
    background-color: rgb(129, 201, 129);
}
.container{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
}
#extrato{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.container-btn{
    margin-top: 10px;
}
