<h1>Cadastrar Autor</h1>
<form action="/livros/cadastrarAutor/enviar" method="post">
    <span>Autor:</span><br>
    <input type="text" name="autor" placeholder="Nome do Autor..."><br><br>
    <button type="submit">Cadastrar</button>
</form>