body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial;
}
h1{
    background-color: green;
    border-radius: 5px;
    padding: 20px;
}

button{
    background-color: green;
    border-radius: 5px;
}

.container{
    color: green;
}