
<div style="margin-left: 35%;">
<h1>Cadastre seu jogo de aposta</h1>
    <form class="form_cadastro" action="/apostas/salvar" method="post">
        <span>Nome do jogo</span> <br>
        <input placeholder="Digite o nome da musica" name="nome"> <br>
        <button lass="btn_cadastrar_home" type="submit">Cadastrar</button>
    </form>
</div>