
<div style="margin-left: 35%;">
<h1>Cadastre seu jogo de aposta</h1>
    <form class="form_cadastro" action="/jogos/salvar" method="post">
        <span>Nome do jogo</span> <br>
        <input placeholder="Digite o nome da musica" name="nome"> <br>
        <span>Plataforma</span><br>
        <input name="plataforma" placeholder="Digita a plataforma...">
        <button class="btn_cadastrar_home" type="submit">Cadastrar</button>
    </form>
</div>