<div style="text-align: left; float: left; margin-left: 5%;">

    <h1>Bem vindo ao Empada Games</h1>

    <h2>O melhor site de jogos gratuitos</h3>

    <h4>Aqui nossa lista de jogos</h4>
</div>


<div class="btn_cadastrar_home">
    <a href="/jogos/cadastrar">
    Cadastrar uma musica
    </a>
</div>

<div class="container_musics">

    {{#each query}}
        {{> jogo}}
    {{/each}}

</div>
<p>OBS: O nosso site está praticando pirataria</p>