<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Cadastro de produtos</h1>
        <form action="/produtos/enviar" method="post">
            <span>ID:</span>
            <input type="text" name="id" /><br />
            <span>Produto:</span>
            <input type="text" name="produto" /><br />
            <span>Preço:</span>
            <input type="text" name="preco" /><br />
            <span>Quantidade:</span>
            <input type="text" name="qntd"><br>
            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>
