<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="/musica/buscar" method="get">
            <span>Digita o ID da música: </span>
            <input type="text" name="id">
            <button type="submit">Pesquisar</button>
        </form>
        {{#if erro}}
            <p>Música não encontrada</p>
        {{else}}
            <p><strong>Música:</strong> {{musicaEscolhida.nome_musica}}</p>
            <p><strong>Artista:</strong> {{musicaEscolhida.artista}}</p>
        {{/if}}
    </body>
</html>