<div class="div_musicas">
    <h2>{{this.cargo}}</h4>
    <hr>
    <p><strong>Empresa: </strong>{{this.empresa}}</p>
    {{#if this.descricao}}
        <p><strong>Descrição: </strong>{{this.descricao}}</p>
    {{else}}
        <p>Não há descrição</p>
    {{/if}}
</div>