<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/usuarios/enviar" method="post">
        <span>Nome:</span>
        <input type="text" name="nome"><br>
        <span>Email:</span>
        <input type="text" name="email"><br>
        <span>Idade:</span>
        <input type="text" name="idade"><br>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>