<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/cadastrar/enviar" method="post">
        <span>ID:</span>
        <input type="text" name="id"><br>
        <span>Música:</span>
        <input type="text" name="musica"><br>
        <span>Artista:</span>
        <input type="text" name="artista"><br>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>