<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <H1>Lista de músicas</H1>
        <ul>
            {{#each musicas}}

                <li>id:
                    {{this.id}}
                    / musica:
                    {{this.nome}}
                    / artista:
                    {{this.artista}}
                </li>

            {{/each}}
        </ul>
    </body>
</html>