*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
header{
    background-color: #003777;
    height: 50px;
    display: flex;
}
nav{
    display: flex;
    align-items: center;

}
nav .abas{
    /* background-color: darkcyan; */
    margin-right: 250px;
}
.abas span{
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    padding: 5px;
    cursor: pointer;
}
.abas span:hover{
    color: white;
    background-color: #0f56a7;
    border-radius: 10px;
    /* padding: 10px; */
}              
.hamburguer{
    margin-right: 40px;
    margin-left: 40px;
    color: white;
}
.oferta{
    color: red;
    font-size: 50px;
    margin-bottom: 20px;
}
.preco1{
    color:#A5A5A5;
    text-decoration: line-through black 1px;
    font-size: 20px;
    margin-bottom: 10px;
}
.preco2{
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}
.btn-comprar{
    border-style: none;
    background-color:#003777;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 30px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;

}
.btn-comprar:hover{
    border-style: none;
    background-color:#0f56a7;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 180px;
}
.btn-comprar img{
    color: white;
    margin-left: 20px;
}
.search_bar{
    background-color: white;
    width: 250px;
    height: 30px;
    border-radius: 20px;
    display: flex;
}
.search_bar img {
    margin-left: 10px;
    width: 30px;
}
.search_bar input{
    border-style: none;
    margin-left: 10px;
}
.foto img{
    width: 474px;
    margin-top: 50px;
}
.foto{
    display: flex;
    width: 70%;
    height: 703px;
    /* background-color: aqua; */
    border-right: 3px solid black;
    justify-content: center;
}
.carrinho-produto{
    margin-left: 200px;
    padding-top: 50px;
    padding-left: 50px;
    height: 703px;
    display: flex;
    background-color: aqua;
    border-left: 3px solid black;
}
.carrinho-produto img{
    width: 300px;
}
.foto-carrinho img{
    width: 300px;
}
.foto-carrinho p {
    font-size: 40px;
}
.container{
    display: flex;
}
.descricao{
    /* background-color: yellow; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrinho{
    display: flex;
    color: white;
}
.carrinho-container{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 50px;
}   
.div-descricao-produto{
    background-color: white;
    width: fit-content;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.descricao-produto{
    font-size: 20px;
}
.descricao-produto span{
    font-size: 15px;
}
.descricao-produto img{
    width: 20px;
}
.ver-mais{
    /* background-color: darkgoldenrod; */
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.ver-mais:hover{
    background-color: rgb(196, 196, 196);
    width: fit-content;
    display: flex;
    align-items: center;
    padding-right: 10px;
}