*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
header{
    background-color: #003777;
    height: 50px;
    display: flex;
}
nav{
    display: flex;
    align-items: center;

}
nav .abas{
    margin-right: 250px;
}
.titulo{
    font-size: 30px;
    margin-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    border-left: black solid 3px;
    border-bottom: black solid 3px;
    display: flex;
}
.abas span{
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    padding: 5px;
    cursor: pointer;
}
.abas span:hover{
    color: white;
    background-color: #0f56a7;
    border-radius: 10px;
}
.abas span:active{
    color: white;
    background-color:#053b79;
    border-radius: 10px; 
}             
.hamburguer{
    cursor:  pointer;
    margin-right: 40px;
    margin-left: 40px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(7496%) hue-rotate(226deg) brightness(113%) contrast(112%);
}
.div-hamburguer:hover{
    background-color:#0f56a7;
    border-radius: 10px;
    height: 50px;
}
.div-hamburguer{
    width: fit-content;
}
.oferta{
    color: red;
    font-size: 50px;
    margin-bottom: 20px;
}
.preco1{
    color:#A5A5A5;
    text-decoration: line-through black 1px;
    font-size: 20px;
    margin-bottom: 10px;
}
.preco2{
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}
.btn-comprar{
    border-style: none;
    background-color:#003777;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 30px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;

}
.btn-comprar:hover{
    border-style: none;
    background-color:#0f56a7;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 180px;
}
.btn-comprar:active{
    border-style: none;
    background-color:#053b79;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 180px;
}
.btn-comprar img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(7496%) hue-rotate(226deg) brightness(113%) contrast(112%);
    margin-left: 20px;
}
.btn-comprar-2{
    border-style: none;
    background-color:#003777;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 10px;
    margin-top: 30px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.btn-comprar-2:hover{
    border-style: none;
    background-color:#0f56a7;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 30px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.btn-comprar-2:active{
    border-style: none;
    background-color:#053b79;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 30px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.btn-comprar-2 img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(7496%) hue-rotate(226deg) brightness(113%) contrast(112%);
    margin-left: 20px;
    margin-right: 10px;
}
.search_bar input{
    padding-left: 40px;
    border-style: none;
    width: 250px;
    margin-left: 10px;
    border-radius: 20px;
    background-image: url(img/lupa.svg);
    background-position: 10px 5px;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 30px;
}
.foto img{
    width: 474px;
    margin-top: 50px;
}
.foto{
    display: flex;
    width: 70%;
    height: 703px;
    border-right: 3px solid black;
    justify-content: center;
}
.carrinho-produto{
    margin-left: 200px;
    padding-top: 50px;
    padding-left: 50px;
    height: 703px;
    display: flex;
    border-left: 3px solid black;
}
.carrinho-produto img{
    width: 300px;
}
.foto-carrinho img{
    width: 300px;
}
.foto-carrinho p {
    font-size: 40px;
}
.container{
    display: flex;
}
.descricao{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrinho{
    display: flex;
    color: white;
}
.carrinho-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 50px;
}
.carrinho-container-2{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 50px;
}   
.div-descricao-produto{
    background-color: white;
    width: fit-content;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.descricao-produto{
    font-size: 20px;
}
.descricao-produto span{
    font-size: 15px;
}
.descricao-produto img{
    width: 20px;
}
.descricao-produto-2{
    font-size: 20px;
    margin-left: 20px
}
.ver-mais{
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.ver-mais:hover{
    background-color: rgb(196, 196, 196);
    width: fit-content;
    display: flex;
    align-items: center;
    padding-right: 10px;
}