<a class="div_musicas" href="/musicas/{{this.id}}">
    <div >
        <h2>{{this.nome}}</h2>
        <small style="float: left; color: rgb(5, 145, 16);">artista: </small>
        <p> {{this.artista}}</p>
        <small style="float: left; color: rgb(5, 145, 16);">tipo: </small>
        <p> {{this.tipo}}</p>
    </div>
</a>